mixin msg(avatar)
  .msg(class!=attributes.class)
    .msg-text.col-8
      .msg-text-decor
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum non expedita cupiditate, culpa facilis assumenda eveniet nulla
    .msg-accaunt
      img.msg-avatar(src=avatar)
