$brand-default: #ebecf9;
$brand-default-gray: #c7cae1;
$brand-primary: #6f729a;
$brand-success: #7cd355;
$brand-info: #60d4ff;
$brand-danger: #de5656;
$brand-warning: #ff9160;
$gray-default: #1f2135;

$font-base: 'Arial';
// fontAwesomePath
$fontAwesomePath:   "fonts" !default;
$imgpath:           '../img/';
$grid-spacing:      1rem;
