
html

  include partials/head.jade
  
  body
    include partials/header.jade
    main.main
      .row
        .col-2
          include user/list.jade
        .col-10
          include messager/messager.jade

    include partials/footer.jade
 
